@media screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 1em;
    }

    header {
        background: rgb(40, 124, 203);
        height: 100px;
        grid-column: 1 / 3;
        padding: 0 1em;
    }
    
    header nav {
        background: rgb(137, 205, 250);
        grid-column: 1/3;
        display: flex;
        padding: 1em;
    } 

    header nav a {
        background: rgb(40, 124, 203);
        padding: 0.5em 1em;
        margin: 0 0.5em;
    }

    main {
        background: white;
        grid-column: 1 / 3;
    }

    footer {
        background: rgb(154, 214, 253);
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        max-width: 100vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    header {
        background: rgb(40, 124, 203);
    }
    
    header nav {
        background: rgb(137, 205, 250);
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    
    footer {
        background: rgb(154, 214, 253);
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 100vw;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    header {
        background: rgb(40, 124, 203);
        padding: 1em;
    }

    header nav {
        background: rgb(137, 205, 250);
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    footer {
        background: rgb(154, 214, 253);
        text-align: center;
    }
}